$color-main: #ffcc00;
$gray-900: #1a1a1a;
$color-white: #fff;
$color-black: #000;
$color-gray-500: #58636e;
$color-brown: #B82A48;
$color-blue: #1560BC;


$text-white: #fff;
$text-black: #000;
$text-main: #ffcc00;

$font-main: 'Aktiv Grotesk Corp', sans-serif;
$font-second: 'Poppins', sans-serif;
